[binance_user_config]
# All config params are explained in depth in the repo.

api_key=vmPUZE6mv9SD5VNHk4HlWFsOr6aKE2zvsw0MuIgwCIPy6utIco14y7Ju91duEh8A
api_secret_key=NhqPtmdSJYdKjVHjA7PZj4Mge3R5YNiP1e3UZjInClVN65XAbvqqM6A7H5fATj0j
# Starting coin, leave empty when it's the bridge.
# It has to be in the supported_coin_list
current_coin=
bridge=USDT
#com or us, depending on region
tld=com
hourToKeepScoutHistory=1
# It's recommended to use something between 3-7 as scout_multiplier 
scout_multiplier=5
# Controls how many seconds bot should wait between analysis of current prices
scout_sleep_time=1
strategy=default
# Controls how many minutes to wait before cancelling a limit order (buy/sell) and returning to "scout" mode.
# 0 means that the order will never be cancelled prematurely.
buy_timeout=20
sell_timeout=20
