[binance_user_config]
api_key=$apiKey
api_secret_key=$apiSecret
current_coin=
bridge=USDT
tld=com
hourToKeepScoutHistory=1
use_margin=true
scout_multiplier=5
scout_margin=0.8
scout_sleep_time=1
strategy=default
enable_paper_trading=False
buy_timeout=10
sell_timeout=5
buy_order_type=limit
sell_order_type=limit
sell_max_price_change=0.005
buy_max_price_change=0.005
trade_fee=auto
price_type=orderbook
accept_losses=false
max_idle_hours=72
ratio_adjust_weight=500
auto_adjust_bnb_balance=false
auto_adjust_bnb_balance_rate=3
rsi_length=14
rsi_candle_type=15              #only 1, 3, 5, 15, 30 minutes possible!
target_win=100                  #how much bridge coin you'd like to earn in a day
jumps_per_day=10                #estimated amount of jumps per day (if no clue, check telegram bot stats to get an idea)