python-binance
sqlalchemy
schedule
apprise
Flask
gunicorn
flask-cors
flask-socketio
eventlet
python-socketio[client]
cachetools
sqlitedict
unicorn-binance-websocket-api==1.34.1
unicorn-fy
xmltodict
diskcache
Pebble
TA-Lib
numpy
websockets>=10.0 # not directly required, pinned by Snyk to avoid a vulnerability
